
*.vsidx
*.vsidx
*.vsidx
.vs/Assemly Explicit Integer Finder/v17/.wsuo
.vs/Assemly Explicit Integer Finder/v17/DocumentLayout.json
.vs/slnx.sqlite
*.exe
*.exe
*.vsidx
*.vsidx
*.json
*.sqlite
*.exe
__pycache__/main.cpython-310.pyc
.vs/slnx.sqlite-journal
.vs/slnx.sqlite
.vs/Assembly Explicit Integer Finder/v17/.wsuo
.vs/slnx.sqlite
